<div class="section fade-up">
    <h2>Core Expertise</h2>

    <div class="grid">
        <div class="customcard glow"><i data-lucide="code"></i> C# / .NET</div>
        <div class="customcard glow"><i data-lucide="server"></i> ASP.NET Core</div>
        <div class="customcard glow"><i data-lucide="cloud"></i> Azure & DevOps</div>
        <div class="customcard glow"><i data-lucide="layers"></i> Architecture</div>
        <div class="customcard glow"><i data-lucide="shuffle"></i> APIs</div>
        <div class="customcard glow"><i data-lucide="cpu"></i> Automation</div>
    </div>
</div>
