@page "/"
@inject IJSRuntime JSRuntime
@using CorporatePortfolio.Services

<link href="https://unpkg.com/lucide@latest/dist/umd/lucide.js" rel="preload" as="script">
<script src="https://unpkg.com/lucide@latest"></script>

<div class="fade-up" style="transition-delay: 0.1s;"><Heaader /></div>
<div class="fade-up" style="transition-delay: 0.1s;"><Skills /></div>
<div class="fade-up" style="transition-delay: 0.2s;"><Experience /></div>
<div class="fade-up" style="transition-delay: 0.3s;"><Projects /></div>
<div class="fade-up" style="transition-delay: 0.3s;"><LetsConnect /></div>
<div class="fade-up" style="transition-delay: 0.3s;"><Footer /></div>

<script>
    lucide.createIcons();
</script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add("visible");
                }
            });
        }, { threshold: 0.2 });
        
        document.querySelectorAll('.fade-up').forEach(el => {
            observer.observe(el);
        });
    });
</script>